unpackaged/main/default/flows/Created_Order_subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>add_Basic</name>
        <label>add Basic</label>
        <locationX>138</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>IntergrationPackage</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Basic</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_all_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_Bespoke</name>
        <label>add Bespoke</label>
        <locationX>930</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>IntergrationPackage</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Bespoke</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_all_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_Existing_Xero</name>
        <label>add Existing Xero</label>
        <locationX>666</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>IntegrationAccountType</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Existing Xero</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Integration_package</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Live_Bank_Feed</name>
        <label>Add Live Bank Feed</label>
        <locationX>930</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>IntegrationAccountType</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>New Xero </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Integration_package</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_new_xero</name>
        <label>add new xero</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>IntegrationAccountType</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>New Xero </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Integration_package</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_Plus</name>
        <label>add Plus</label>
        <locationX>666</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>IntergrationPackage</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Plus</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_all_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_product_names_to_collection</name>
        <label>add product names to collection</label>
        <locationX>666</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>OrderProducts</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>loop_all_products.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Xero_product_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_Xero_Setup</name>
        <label>add Xero Setup</label>
        <locationX>402</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>IntegrationAccountType</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Xero Setup</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Integration_package</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addComplete</name>
        <label>add Complete</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>IntergrationPackage</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_all_products</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Integration_package</name>
        <label>check Integration package</label>
        <locationX>666</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>loop_all_products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Basic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_all_products.Product2.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>(Basic)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_Basic</targetReference>
            </connector>
            <label>Basic</label>
        </rules>
        <rules>
            <name>Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_all_products.Product2.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>(Complete)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addComplete</targetReference>
            </connector>
            <label>Complete</label>
        </rules>
        <rules>
            <name>Plus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_all_products.Product2.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>(Plus)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_Plus</targetReference>
            </connector>
            <label>Plus</label>
        </rules>
        <rules>
            <name>Bespoke</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_all_products.Product2.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>(Bespoke)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_Bespoke</targetReference>
            </connector>
            <label>Bespoke</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Xero_product_Types</name>
        <label>Check Xero product Types</label>
        <locationX>666</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>check_Integration_package</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Xero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_all_products.Product2.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>New Xero</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_new_xero</targetReference>
            </connector>
            <label>New Xero</label>
        </rules>
        <rules>
            <name>Xero_Setup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_all_products.Product2.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Xero Setup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_Xero_Setup</targetReference>
            </connector>
            <label>Xero Setup</label>
        </rules>
        <rules>
            <name>Existing_Xero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_all_products.Product2.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Existing Xero</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_Existing_Xero</targetReference>
            </connector>
            <label>Existing Xero</label>
        </rules>
        <rules>
            <name>Live_Bank_Feed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_all_products.Product2.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Live Bank Feed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Live_Bank_Feed</targetReference>
            </connector>
            <label>Live Bank Feed</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check</name>
        <label>null check</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>empty</defaultConnectorLabel>
        <rules>
            <name>not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityLineItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_all_products</targetReference>
            </connector>
            <label>not empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Created Order - subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Created Order - subflow</label>
    <loops>
        <name>loop_all_products</name>
        <label>loop all products</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <collectionReference>OpportunityLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_product_names_to_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>50</locationX>
        <locationY>1286</locationY>
        <connector>
            <targetReference>Update_Opportunity_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Opportunity_Account</name>
        <label>Update Opportunity Account</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Integration_Account_Type__c</field>
            <value>
                <elementReference>IntegrationAccountType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Package__c</field>
            <value>
                <elementReference>IntergrationPackage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Units__c</field>
            <value>
                <elementReference>Opportunity.Number_of_Units__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ordered_Products__c</field>
            <value>
                <elementReference>OrderProducts</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>null_check</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EnterpriseSubscription</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>EnterpriseSubscriptionAdditional</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IntegrationAccountType</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IntergrationPackage</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OrderProducts</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProfessionalSubscription</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ProfessionalSubscriptionAdditional</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>StandardSubscription</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
