unpackaged/main/default/flows/Lead_after.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Notify_Lead_Owner</name>
        <label>Copy 1 of Notify Lead Owner</label>
        <locationX>490</locationX>
        <locationY>2711</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>update_triggering_Lead</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>userMQLnotifation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>MQL is assigned to you</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Lead_Owner</name>
        <label>Notify Lead Owner</label>
        <locationX>622</locationX>
        <locationY>2279</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>if_MQL_owner_is_changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>userMQLnotifation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>MQL is assigned to you</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>account_owner_var</name>
        <label>account owner var</label>
        <locationX>490</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>accountOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_account.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_to_account_owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_to_account_owner</name>
        <label>assign to account owner</label>
        <locationX>402</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountOwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invoke_Record_Assignment_subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MQL_values_and_Status_New</name>
        <label>MQL values and Status New</label>
        <locationX>578</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Is_MQL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MQL_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MQL_Count__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>if_has_related_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MQL_Values_and_Status_Working</name>
        <label>MQL Values and Status Working</label>
        <locationX>930</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Is_MQL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Latest_MQL_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MQL_Count__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Rejected_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Re_engagement_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>if_the_owner_is_user</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_lead_to_Nurturing</name>
        <label>set lead to Nurturing</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nurturing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MQL_Trigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>if_MQL_owner_is_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_company_domain_account</name>
        <label>update company domain &amp; account</label>
        <locationX>490</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>$Record.Company_Domain__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>companyDomainCalculated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Related_Account.accountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Related_Account.ownerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MQL_or_Rejected</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>if_already_have_account_owner</name>
        <label>if already have account owner</label>
        <locationX>402</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>get_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_related_account_owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountOwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_to_account_owner</targetReference>
            </connector>
            <label>has related account owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_company_domain_update_required</name>
        <label>if company domain update required</label>
        <locationX>622</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>MQL_or_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>company_domain_update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Company_Domain__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>companyDomainCalculated</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company_Domain__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Related_Account</targetReference>
            </connector>
            <label>company domain update</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_has_related_account</name>
        <label>if has related account</label>
        <locationX>578</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Invoke_Record_Assignment_subflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_related_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>if_already_have_account_owner</targetReference>
            </connector>
            <label>has related account</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_just_created</name>
        <label>if just created</label>
        <locationX>754</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>MQL_Values_and_Status_Working</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>just_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MQL_values_and_Status_New</targetReference>
            </connector>
            <label>just created</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_MQL_owner_is_changed</name>
        <label>if MQL owner is changed</label>
        <locationX>622</locationX>
        <locationY>2591</locationY>
        <defaultConnector>
            <targetReference>update_triggering_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MQL_owner_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_MQL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Notify_Lead_Owner</targetReference>
            </connector>
            <label>MQL owner changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_the_owner_is_user</name>
        <label>if  the owner is user</label>
        <locationX>754</locationX>
        <locationY>2159</locationY>
        <defaultConnector>
            <targetReference>if_MQL_owner_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Lead_Owner</targetReference>
            </connector>
            <label>user</label>
        </rules>
    </decisions>
    <decisions>
        <name>MQL_or_Rejected</name>
        <label>MQL or Rejected</label>
        <locationX>622</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>if_MQL_owner_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rejected_ICP</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rejected_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Timing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rejected_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Budget/Cost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rejected_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_lead_to_Nurturing</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Rejected ICP</label>
        </rules>
        <rules>
            <name>on_mql</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MQL_Trigger__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>if_just_created</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>on mql</label>
        </rules>
    </decisions>
    <description>Added Lead Status = Disqualified AND Rejected Reason is ICP to nurture decision</description>
    <environments>Default</environments>
    <formulas>
        <name>companyDomainCalculated</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$Record.Email}, LEN({!$Record.Email}) - FIND(&quot;@&quot;,{!$Record.Email}))</expression>
    </formulas>
    <formulas>
        <name>nullDate</name>
        <dataType>Date</dataType>
        <expression>NULL</expression>
    </formulas>
    <interviewLabel>Lead (after) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead (after)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_account</name>
        <label>get account</label>
        <locationX>490</locationX>
        <locationY>1391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>account_owner_var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_triggering_Lead</name>
        <label>update triggering Lead</label>
        <locationX>622</locationX>
        <locationY>2927</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MQL_Date__c</field>
            <value>
                <elementReference>$Record.MQL_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>496</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>if_company_domain_update_required</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Invoke_Record_Assignment_subflow</name>
        <label>Invoke Record Assignment - subflow</label>
        <locationX>578</locationX>
        <locationY>1943</locationY>
        <connector>
            <targetReference>if_the_owner_is_user</targetReference>
        </connector>
        <flowName>Record_Assignment_Invocable_Subflow</flowName>
        <inputAssignments>
            <name>leadId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Select_Related_Account</name>
        <label>Select Related Account</label>
        <locationX>490</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>update_company_domain_account</targetReference>
        </connector>
        <flowName>Lead_Assignment_Select_Related_Account_Invocable</flowName>
        <inputAssignments>
            <name>Record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>userMQLnotifation</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello {!$Record.Owner:User.Name} , you have just been assigned this MQL Lead. 
Link -&gt; https://arthurcourtesy2022--partial.sandbox.lightning.force.com/lightning/r/Lead/{!$Record.Id}/view</text>
    </textTemplates>
    <variables>
        <name>accountOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
