unpackaged/main/default/flows/Lead_Assignment_Select_Related_Account_Invocable.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Lead_Notification</name>
        <label>Lead Notification</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>LeadAssignment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Lead Notification</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign_accountId_and_ownerId</name>
        <label>assign accountId and ownerId</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_contact_with_matching_domain.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ownerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_contact_with_matching_domain.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>if_contact_with_matching_domain_found</name>
        <label>if contact with matching domain found</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_contact_with_matching_domain</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_accountId_and_ownerId</targetReference>
            </connector>
            <label>found</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_valid_company_domain</name>
        <label>if valid company domain</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>valid_company_domain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>companyDomainCalculated</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_contact_with_matching_domain</targetReference>
            </connector>
            <label>valid company domain</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>companyDomainCalculated</name>
        <dataType>String</dataType>
        <expression>RIGHT({!Record.Email}, LEN({!Record.Email}) - FIND(&quot;@&quot;,{!Record.Email}))</expression>
    </formulas>
    <interviewLabel>Lead : Assignment : Select Related Account | Invocable {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead : Assignment : Select Related Account | Invocable</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_contact_with_matching_domain</name>
        <label>get contact with matching domain</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>if_contact_with_matching_domain_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email_Domain__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>companyDomainCalculated</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>if_valid_company_domain</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>LeadAssignment</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A New Lead has been assigned to you!</text>
    </textTemplates>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ownerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
