unpackaged/main/default/flows/Opportunity_MRR_NRR_subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>add_to_mrr</name>
        <label>add to mrr</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>MRR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_over_all_products.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_all_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_NRR</name>
        <label>add to NRR</label>
        <locationX>528</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>NRR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_over_all_products.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_all_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_opp_fields</name>
        <label>set opp fields</label>
        <locationX>176</locationX>
        <locationY>830</locationY>
        <assignmentItems>
            <assignToReference>oppRecord.NRR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NRR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppRecord.MRR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MRR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Opportunity_MRR_and_NRR</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IfSubscription</name>
        <label>Subscription?</label>
        <locationX>396</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>add_to_NRR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>one-off</defaultConnectorLabel>
        <rules>
            <name>isSubscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_over_all_products.Product2.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subscription</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_to_mrr</targetReference>
            </connector>
            <label>subscription</label>
        </rules>
    </decisions>
    <description>This is sublfow of the main Opportunity after - flow used to populate MRR and NRR fields on opportunity once the Quote is synced.</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity MRR &amp; NRR  - subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity MRR &amp; NRR  - subflow</label>
    <loops>
        <name>loop_over_all_products</name>
        <label>loop over all products</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_all_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IfSubscription</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>set_opp_fields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Opportunity_Products</name>
        <label>Get all Opportunity Products</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_over_all_products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Opportunity_MRR_and_NRR</name>
        <label>update Opportunity MRR and NRR</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <inputReference>oppRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_Opportunity_Products</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MRR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NRR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>oppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
