unpackaged/main/default/flows/Opportunity_After.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_CSM_as_Account_Owner</name>
        <label>Assign CSM as Account Owner</label>
        <locationX>160</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AssignedCSM__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CSM_to_Account</name>
        <label>Assign CSM to Account</label>
        <locationX>72</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Assigned_CSM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AssignedCSM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Account_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Open_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_account_fields</name>
        <label>set account fields</label>
        <locationX>72</locationX>
        <locationY>2951</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Sales_Indicated_Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Number_of_Units__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Contract_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SyncedQuote.Subscription_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Contract_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Mail_Merge_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MailMergeProducts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.First_Invoice_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Synced_Quote.First_Invoice_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Contract_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Synced_Quote.Contract.StartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_opportunity_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Mail_Merge_Quantity</name>
        <label>Set Mail Merge Quantity</label>
        <locationX>160</locationX>
        <locationY>2519</locationY>
        <assignmentItems>
            <assignToReference>MailMergeProducts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_products.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_opportunity_fields</name>
        <label>set opportunity fields</label>
        <locationX>72</locationX>
        <locationY>3071</locationY>
        <assignmentItems>
            <assignToReference>$Record.First_Invoice_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Synced_Quote.First_Invoice_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Contract_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Synced_Quote.Contract.StartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_for_exisiting_contact_role</name>
        <label>check for exisiting contact role</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>create_primary_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>contact_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_contact_roles.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_as_primary</targetReference>
            </connector>
            <label>contact exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Mail_Merge</name>
        <label>Check for Mail Merge</label>
        <locationX>292</locationX>
        <locationY>2399</locationY>
        <defaultConnector>
            <targetReference>Loop_All_products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mail_Merge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_All_products.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mail Merge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Mail_Merge_Quantity</targetReference>
            </connector>
            <label>Mail Merge</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_primary_contact_is_assigned</name>
        <label>if primary contact is assigned</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>if_quote_is_synced</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Primary_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_contact_roles</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_quote_is_synced</name>
        <label>if quote is synced</label>
        <locationX>380</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Get_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>synced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SyncedQuoteId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Quote_Products__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoke_Opportunity_MRR_NRR_subflow</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>quote synced</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Opps_Found</name>
        <label>Open Opps Found</label>
        <locationX>72</locationX>
        <locationY>1943</locationY>
        <defaultConnector>
            <targetReference>Assign_CSM_as_Account_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Open Opp</defaultConnectorLabel>
        <rules>
            <name>Opp_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Opps.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_All_products</targetReference>
            </connector>
            <label>Opp Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Changed</name>
        <label>Stage Changed</label>
        <locationX>380</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Opportunity_Products</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Closed Won</label>
        </rules>
        <rules>
            <name>Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Re_engagement_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_and_assign_task</targetReference>
            </connector>
            <label>Closed Lost</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ContractEndDate</name>
        <dataType>Date</dataType>
        <expression>IF({!$Record.SyncedQuote.Contract_Term_months__c}=1, NULL, ADDMONTHS({!$Record.SyncedQuote.Subscription_Start_Date__c},{!$Record.SyncedQuote.Contract_Term_months__c}))</expression>
    </formulas>
    <interviewLabel>Opportunity After {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity After</label>
    <loops>
        <name>Loop_All_products</name>
        <label>Loop All products</label>
        <locationX>72</locationX>
        <locationY>2279</locationY>
        <collectionReference>Get_All_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Mail_Merge</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Synced_Quote</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_and_assign_task</name>
        <label>create and assign task</label>
        <locationX>424</locationX>
        <locationY>1583</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>tasksubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>create_primary_contact</name>
        <label>create primary contact</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>if_quote_is_synced</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>380</locationX>
        <locationY>1343</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stage_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Opportunity_Products</name>
        <label>Get All Opportunity Products</label>
        <locationX>72</locationX>
        <locationY>1583</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_CSM_to_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_contact_roles</name>
        <label>get contact roles</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_for_exisiting_contact_role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Primary_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Opps</name>
        <label>Get Open Opps</label>
        <locationX>72</locationX>
        <locationY>1823</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Open_Opps_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Synced_Quote</name>
        <label>Get Synced Quote</label>
        <locationX>72</locationX>
        <locationY>2831</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_account_fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsSyncing</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>set_as_primary</name>
        <label>set as primary</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>if_quote_is_synced</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_contact_roles.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>72</locationX>
        <locationY>3191</locationY>
        <connector>
            <targetReference>Update_Quote_status</targetReference>
        </connector>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>72</locationX>
        <locationY>3431</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_status</name>
        <label>Update Quote status</label>
        <locationX>72</locationX>
        <locationY>3311</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsSyncing</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>if_primary_contact_is_assigned</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Invoke_Opportunity_MRR_NRR_subflow</name>
        <label>Invoke Opportunity MRR &amp; NRR  - subflow</label>
        <locationX>248</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <flowName>Opportunity_MRR_NRR_subflow</flowName>
        <inputAssignments>
            <name>oppRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>tasksubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Opportunity {!$Record.Name} is Closed as Lost with re-engagement date {!$Record.Re_engagement_Date__c} . Please reach out to the customer at this date.</text>
    </textTemplates>
    <variables>
        <name>MailMergeProducts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
