unpackaged/main/default/flows/Order_before.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>set_order_dates_and_id</name>
        <label>set order dates and id</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>firstDayOftheMonth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lastDayOftheMonth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Entity_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Entity_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MRR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.MRR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.NRR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.NRR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TotalAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Number_Of_Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Number_of_Units__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>created_or_updated</name>
        <label>created or updated</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>create_or_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_order_dates_and_id</targetReference>
            </connector>
            <label>created or updated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>firstDayOftheMonth</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), MONTH(TODAY()),1)</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>isnew()</expression>
    </formulas>
    <formulas>
        <name>lastDayOftheMonth</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),MONTH(TODAY()) + 1,1) - 1</expression>
    </formulas>
    <interviewLabel>Order - before {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order - before</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>created_or_updated</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
