unpackaged/main/default/flows/Quote_after.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>create_or_update</name>
        <label>create or update</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>number_of_items_or_contract_term_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>updated</defaultConnectorLabel>
        <rules>
            <name>created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>created</label>
        </rules>
    </decisions>
    <decisions>
        <name>number_of_items_or_contract_term_changed</name>
        <label>number of items or contract term changed</label>
        <locationX>440</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>ready_to_sync</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>number_of_items_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Quote_Line_Items__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Number_of_Quote_Line_Items__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_opportunity_num_of_months</targetReference>
            </connector>
            <label>number of items changed</label>
        </rules>
        <rules>
            <name>contract_term_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract_Term_months__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Contract_Term_months__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_opportunity_contract_term</targetReference>
            </connector>
            <label>contract term changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>ready_to_sync</name>
        <label>ready to sync?</label>
        <locationX>440</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Presented</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LineItemCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sync_the_quote</targetReference>
            </connector>
            <label>ready</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isnew</name>
        <dataType>Boolean</dataType>
        <expression>isnew()</expression>
    </formulas>
    <interviewLabel>Quote - after {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - after</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>sync_the_quote</name>
        <label>sync the quote</label>
        <locationX>308</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SyncedQuoteId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_opportunity_contract_term</name>
        <label>update opportunity contract term</label>
        <locationX>440</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>ready_to_sync</targetReference>
        </connector>
        <inputAssignments>
            <field>Contract_Term_months__c</field>
            <value>
                <elementReference>$Record.Contract_Term_months__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_opportunity_num_of_months</name>
        <label>update opportunity num of months</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>ready_to_sync</targetReference>
        </connector>
        <inputAssignments>
            <field>Number_of_Quote_Products__c</field>
            <value>
                <elementReference>$Record.Number_of_Quote_Line_Items__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>create_or_update</targetReference>
        </connector>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
