unpackaged/main/default/flows/Quote_before.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>create_or_update</name>
        <label>create or update</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>update</defaultConnectorLabel>
        <rules>
            <name>create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_quote_fields</targetReference>
            </connector>
            <label>create</label>
        </rules>
    </decisions>
    <description>This is the main quote before flow</description>
    <environments>Default</environments>
    <formulas>
        <name>isnew</name>
        <dataType>Boolean</dataType>
        <expression>isnew()</expression>
    </formulas>
    <interviewLabel>Quote - before {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - before</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>set_quote_fields</name>
        <label>set quote fields</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.Opportunity.Account.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.Opportunity.Account.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.Opportunity.Account.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.Opportunity.Account.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Opportunity.Account.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Units__c</field>
            <value>
                <elementReference>$Record.Opportunity.Number_of_Units__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record.Opportunity.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>create_or_update</targetReference>
        </connector>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
